black
Django
djangorestframework
django-admin-interface
django-coverage-plugin
django-csp
django-debug-toolbar
django-environ
django-extensions
django-nplusone
django-permissions-policy
djhtml
flake8
gunicorn
pre-commit
pip-tools
pytest
pytest-cov
pytest-django
pytest-randomly
pytest-xdist
requests
slackclient
psycopg[binary]
django-upgrade
tryceratops
uv
django-model-info
whitenoise