{% load flatpages %}
{% get_flatpages for user as flatpages %}

<section>
    <section id="header" class="mb-4">
        <nav class="text-left">
            <div class="flex justify-between items-center">
                <h1 class="font-semibold text-xl textgray-900 uppercase">
                    <a href="/" class="hover:text-gray-700">Acronym API</a>
                </h1>
                <div class="pr-10 cursor-pointer md:hidden" id="burger">
                    <svg viewBox="0 0 20 20" fill="currentColor" class="menu w-6 h-6"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </div>
            </div>
                <ul class="text-sm mt-6 hidden md:flex md:flex-row" id="menu">
                    <li class="text-gray-700 font-bold py-1 pr-5">
                        <a class="text-gray-800 hover:text-blue-500 hover:underline"
                            href="/">
                            Home
                        </a>
                    </li>
                    <li class="text-gray-700 font-bold py-1 pr-5">
                        <a class="text-gray-800 hover:text-blue-500 hover:underline"
                        href="{% url 'api:acronym-list' %}">
                            API
                        </a>
                    </li>
                </ul>
        </nav>
    </section>
</section>